{#<div class="page-header {{ theme }}">#}
{#    <div class="row">#}
{#        <!-- Page header, center on small screens -->#}
{##}
{#        <h1 class="col-xs-12 col-sm-12 text-center text-left-sm" style="line-height: 26px; {% if notetype %} margin-bottom:10px;{% endif %}" id="page_header_block">#}
{#            Communication System#}
{#        </h1>#}
{##}
{##}
{#        <div class="col-xs-12 col-sm-8">#}
{#            <div class="row">#}
{#                <hr class="visible-xs no-grid-gutter-h">#}
{#                <!-- "Create project" button, width=auto on desktops -->#}
{#                <div class="pull-right col-xs-12 col-sm-auto"></div>#}
{##}
{#                <!-- Margin -->#}
{#                <div class="visible-xs clearfix form-group-margin"></div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
