{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="panel colourable">
        <div class="panel-heading">
            <span class="panel-title">Article Number: {{ comm.pk }}</span>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Title</dt><dd>{{ comm.short_desc }}</dd><br />
                <dt>Description</dt><dd>{{ comm.full_desc }}</dd><br />
                <dt>Project Start Date</dt><dd>{{ comm.project_start_date }}</dd><br />
                <dt>Value of Award</dt><dd>&pound;{{ comm.value_of_award|intcomma }}</dd><br />
                <dt>Value Awarded to Newcastle University</dt><dd>&pound;{{ comm.value_awarded_to_ncl|intcomma }}</dd><br />
                <dt>Individuals involved</dt><dd>{% for ind in comm.individuals.all %}<li>{{ ind.username }}</li>{% endfor %}</dd><br />
                <dt>Level</dt><dd>{{ comm.level }}</dd>
        </dl>
        </div>
    </div>

    {% comment %}
    None relevant columns;
        - Source
        - Created on
        - Created by
        - Audience
        - Tags
        - Admin_checked
        - Level
        - External ??
    {% endcomment %}

{% endblock content %}