{% extends 'base.html' %}

{% block content %}

    {% if user.is_superuser %}
        <div class="panel panel-dark-gray widget-threads">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class="panel-title-icon fa fa-tasks"></i>
                    Unapproved Articles
                </span>
            </div>
            <div class="panel-body">
                {% for i in queryset %}
                    {% if not i.admin_checked %}
                        <div class="thread">
                            <span class="thread-time">
                                <a href="{% url 'article_approval' i.pk %}" role="button" class="btn btn-xs btn-labeled btn-danger">
                                    <span class="btn-label icon fa fa-pencil"></span>
                                    Approve
                                </a>
                            </span>
                            <span class="thread-title">{{ i.short_desc }}</span>
                            <div class="thread-info">
                                Uploaded by {{ i.created_by }}, on {{ i.created_on }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock content %}