<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsletter</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>Medical Faculty Newsletter</h1>
    {% for obj in queryset %}
    <div class="panel panel-default" style="width: 50%">
        <div class="panel-body">
            <p>{{ obj.audit.sent.short_desc }}</p>
            <a href="{{ obj.link }}" role="button" class="btn btn-default">More info</a>
        </div>
    </div>
    {% endfor %}

</body>
</html>